{% extends 'layout.html' %}

{% block content %}
  <h2>Registrar Atendimento</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Registrar</button>
  </form>

  <h2>Atendimentos de Hoje</h2>
  <ul>
    {% for atendimento in atendimentos_hoje %}
      <li>{{ atendimento.nome_paciente }} - {{ atendimento.data_consulta }} - {{ atendimento.get_tipo_atendimento_display }} - {{ atendimento.cid }}</li>
    {% endfor %}
  </ul>

  <h2>Atendimentos Anteriores</h2>
  <ul>
    {% for atendimento in atendimentos_anteriores %}
      <li>{{ atendimento.nome_paciente }} - {{ atendimento.data_consulta }} - {{ atendimento.get_tipo_atendimento_display }} - {{ atendimento.cid }}</li>
    {% endfor %}
  </ul>
{% endblock %}
