{% extends "layout.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'liriodosvales/css/style.css' %}">
{% endblock extra_css %}
{% block extra_js %}
<script>
    window.adicionarItem = function(tipo) {
        let nome, dosagem, posologia, codigo_cid;

        if (tipo === 'medicacoes') {
            nome = document.getElementById('nova_medicacao_nome').value;
            dosagem = document.getElementById('nova_medicacao_dosagem').value;
            posologia = document.getElementById('nova_medicacao_posologia').value;
        } else if (tipo === 'alergias') {
            nome = document.getElementById('nova_alergia_nome').value;
        } else if (tipo === 'diagnosticos') {
            nome = document.getElementById('novo_diagnostico_nome').value;
            codigo_cid = document.getElementById('novo_diagnostico_codigo_cid').value;
        }

        if (nome) {
            let list = document.getElementById(`${tipo}-list`);
            let item = document.createElement('div');
            if (tipo === 'medicacoes') {
                item.innerHTML = `<input type="hidden" name="medicacoes_nomes[]" value="${nome}">
                                  <input type="hidden" name="medicacoes_dosagens[]" value="${dosagem}">
                                  <input type="hidden" name="medicacoes_posologias[]" value="${posologia}">
                                  ${nome} - ${dosagem} - ${posologia}`;
            } else if (tipo === 'alergias') {
                item.innerHTML = `<input type="hidden" name="alergias_nomes[]" value="${nome}">
                                  ${nome}`;
            } else if (tipo === 'diagnosticos') {
                item.innerHTML = `<input type="hidden" name="diagnosticos_nomes[]" value="${nome}">
                                  <input type="hidden" name="diagnosticos_codigos_cid[]" value="${codigo_cid}">
                                  ${nome} - ${codigo_cid}`;
            }
            list.appendChild(item);

            if (tipo === 'medicacoes') {
                document.getElementById('nova_medicacao_nome').value = '';
                document.getElementById('nova_medicacao_dosagem').value = '';
                document.getElementById('nova_medicacao_posologia').value = '';
            } else if (tipo === 'alergias') {
                document.getElementById('nova_alergia_nome').value = '';
            } else if (tipo === 'diagnosticos') {
                document.getElementById('novo_diagnostico_nome').value = '';
                document.getElementById('novo_diagnostico_codigo_cid').value = '';
            }
        }
    }
</script>
{% endblock extra_js %}
{% block title %}
    Lírio dos Vales - Editar Paciente
{% endblock title %}
{% block content %}
    <main>
        <section>
            <h1>Editar Paciente</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                
                <h3>Medicações</h3>
                <div id="medicacoes-list" class="item-list">
                    {% for nome, dosagem, posologia in medicacoes %}
                        <div>
                            <input type="hidden" name="medicacoes_nomes[]" value="{{ nome }}">
                            <input type="hidden" name="medicacoes_dosagens[]" value="{{ dosagem }}">
                            <input type="hidden" name="medicacoes_posologias[]" value="{{ posologia }}">
                            {{ nome }} - {{ dosagem }} - {{ posologia }}
                        </div>
                    {% endfor %}
                </div>
                <input type="text" id="nova_medicacao_nome" placeholder="Nome da Medicação">
                <input type="text" id="nova_medicacao_dosagem" placeholder="Dosagem">
                <input type="text" id="nova_medicacao_posologia" placeholder="Posologia">
                <button type="button" onclick="adicionarItem('medicacoes')">Adicionar Medicação</button>
                
                <h3>Alergias</h3>
                <div id="alergias-list" class="item-list">
                    {% for nome in alergias %}
                        <div>
                            <input type="hidden" name="alergias_nomes[]" value="{{ nome }}">
                            {{ nome }}
                        </div>
                    {% endfor %}
                </div>
                <input type="text" id="nova_alergia_nome" placeholder="Nome da Alergia">
                <button type="button" onclick="adicionarItem('alergias')">Adicionar Alergia</button>
                
                <h3>Diagnósticos</h3>
                <div id="diagnosticos-list" class="item-list">
                    {% for nome, codigo_cid in diagnosticos %}
                        <div>
                            <input type="hidden" name="diagnosticos_nomes[]" value="{{ nome }}">
                            <input type="hidden" name="diagnosticos_codigos_cid[]" value="{{ codigo_cid }}">
                            {{ nome }} - {{ codigo_cid }}
                        </div>
                    {% endfor %}
                </div>
                <input type="text" id="novo_diagnostico_nome" placeholder="Nome do Diagnóstico">
                <input type="text" id="novo_diagnostico_codigo_cid" placeholder="Código CID">
                <button type="button" onclick="adicionarItem('diagnosticos')">Adicionar Diagnóstico</button>
                
                <button type="submit">Salvar</button>
            </form>
            <a href="{% url 'liriodosvales:listar_pacientes' %}">Voltar para lista de pacientes</a>
        </section>
    </main>
{% endblock content %}
