{% extends "layout.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'liriodosvales/css/style.css' %}">
{% endblock extra_css %}
{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var dateInput = document.querySelector('input[type="date"]');
        dateInput.addEventListener('change', function() {
            var date = new Date(this.value);
            var day = ("0" + date.getDate()).slice(-2);
            var month = ("0" + (date.getMonth() + 1)).slice(-2);
            var formattedDate = day + '/' + month + '/' + date.getFullYear();
            this.nextElementSibling.textContent = formattedDate;
        });
    });
</script>
{% endblock extra_js %}
{% block title %}
    Lírio dos Vales - Novo Paciente
{% endblock title %}
{% block content %}
    <section>
        <h1>Cadastrar Novo Paciente</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Cadastrar</button>
        </form>
        <a href="{% url 'listar_pacientes' %}">Voltar para lista de pacientes</a>
    </section>
{% endblock content %}

